@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
}

body {
  background: #eee;
  color: #333;
  font: 18px/1.7222 "Work Sans", sans-serif;
}
